.menu-pages-container {
  padding: 20px 60px;
  min-height: 160vh;
}

.video-contents {
  display: flex;
  align-items: start;
  column-gap: 30px;
}

.menu-main-content {
  padding-top: 10px;
}

.main-video {
  width: 720px;
  height: 440px;
}

.main-video iframe {
  width: 720px;
  height: 440px;
  border-radius: 6px;
}

.main-video-contents {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.img-content a {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: #dfdfdf;
  cursor: pointer;
}

.img-content img {
  width: 160px;
  height: 90px;
  border-radius: 6px;
}

.img-content p {
  width: 250px;
}

.test-container {
  padding: 30px 0 20px 0;
}

.test-title {
  text-align: center;
  padding-bottom: 10px;
}

.test-submit-btn {
  background-color: #272626;
  padding: 10px 20px;
  border-radius: 10px;
  color: #dfdfdf;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #dfdfdf;
  cursor: pointer;
  transition: 0.5s;
}
.test-submit-btn:hover {
  color: rgb(197, 28, 28);
  border: 2px solid rgb(197, 28, 28);
}
