<div class="sayHi-container">
  <div class="sayHi-title-content">
    <p class="sayHi-title">Assalomu aleykum veb sahifamga xush kelibsiz.</p>
    <p class="sayHi-desc">
      Siz bu yerda Microsoft Office dasturlaridan bir bo'lgan Power Point
      dasturi haqida ma'lumot olishgiz va u orqali qanday Prezintatsiyalar
      tayyorlashni o'rganishingiz mumkin.
    </p>
    <div class="sayHi-links">
      <a routerLink="about" class="sayHi-link sayHi-link-about">Men haqimda</a>
      <a routerLink="menu" class="sayHi-link sayHi-link-menu"
        >Video darslar <span><i class="fa-solid fa-right-long"></i></span
      ></a>
    </div>
  </div>
  <div class="sayHi-img">
    <img src="/assets/home container img/home sayHi img.png" alt="" />
  </div>
</div>
