<div class="login-container">
  <div class="login-content">
    <form #form="ngForm" (ngSubmit)="login(form)">
      <p class="login-title">Tizimga kirish</p>
      <div class="input-container">
        <div class="input-content">
          <input
            ngModel
            name="username"
            type="text"
            id="username"
            placeholder="Username"
          />
          <label for="username"><i class="fa-solid fa-user"></i></label>
        </div>
        <!-- <div class="error-list">
          <div>Username bo'sh bo'lmasligi kerak</div>
          <div>Username noto'g'ri</div>
        </div> -->
      </div>
      <div class="input-container">
        <div class="input-content">
          <input
            ngModel
            name="password"
            type="password"
            id="password"
            placeholder="Password"
          />
          <label for="password"><i class="fa-solid fa-lock"></i></label>
        </div>
        <!-- <div class="error-list">
          <div>Password bo'sh bo'lmasligi kerak</div>
        </div> -->
      </div>
      <button class="loginBtn" type="submit">Tizimga kirish</button>
    </form>
  </div>
</div>
