<div class="about-container">
  <div class="about-content">
    <div class="about-title-content">
      <p class="about-theme">Men haqimda</p>
      <p class="about-title">
        Mening ismim Nodirbek, men Frontend dasturchiman va O'zbekistonda
        tug'ilib o'sganman.
      </p>
      <p class="about-desc">
        Men dasturlashni 2022-yilda boshlaganman, Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Illum fuga culpa tenetur praesentium,
        quisquam magnam fugiat fugit molestias quae ab autem vero expedita
        eligendi libero consequatur iusto atque impedit sed dolore
      </p>
    </div>
    <div class="about-img">
      <img src="/assets/my img.png" />
    </div>
  </div>
</div>
